# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
*.tgz
.rpt2_cache
build
coverage
cypress/integration
cypress/screenshots
cypress/videos
dist
jsdocs
storybook-static

# misc
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.history

npm-debug.log*
yarn-debug.log*
yarn-error.log*

