/*
*  Proposal
*  https://jira.forge.avaya.com/browse/NEO-644
*
*/
.neo-btn-icon-left {
  display: flex;
  flex-direction: row;
}

.neo-btn-icon-right {
  display: flex;
  flex-direction: row-reverse;
}
