.neo-input-editable__wrapper .neo-icon-view-on:before {
  font-size: x-large;
}

.neo-input-editable__wrapper .neo-icon-view-off:before {
  font-size: x-large;
}

.neo-input-editable__wrapper .neo-icon-view-on,
.neo-input-editable__wrapper .neo-icon-view-off {
  background: none;
  border: none;
}
