/* TODO: once these changes are finalized, move them into the CSS Library */

/* sub tree classes */
li[dir="ltr"].neo-treeview__sub-tree-item > ul {
  display: block;
  margin-left: 1rem;
}
li[dir="rtl"].neo-treeview__sub-tree-item > ul {
  display: block;
  margin-right: 1rem;
}

.neo-treeview__sub-tree-item div[role="button"] {
  cursor: pointer;
  display: flex;
}

.neo-treeview__sub-tree-item div {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

li[dir="ltr"].neo-treeview__sub-tree-item div.neo-treeview__item--selected {
  border-right: 2px solid transparent;
  border-left: 2px solid #1473e6;
}
li[dir="rtl"].neo-treeview__sub-tree-item div.neo-treeview__item--selected {
  border-right: 2px solid #1473e6;
  border-left: 2px solid transparent;
}

.neo-treeview__sub-tree-item
  .neo-treeview__item--expanded
  .neo-treeview__item--expandable:before {
  transform: rotate(-90deg);
}
/* sub tree classes */

/* branch classes */
li[dir="rtl"].neo-treeview__item {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

li[dir="rtl"].neo-treeview__item.neo-treeview__item--selected {
  border-left: 2px solid transparent;
  border-right: 2px solid #1473e6;
}
/* branch classes */
